* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

a {
    text-decoration: none; 
    color: inherit;
}
a:hover {
  text-decoration: none;
}
li {
    list-style-type: none;
}
a[href^="tel"] {
    color: inherit;
  }
  a[href^="link"] {
    color: inherit;
  }